#header{
    background-color: grey;
}

.card{
    float: left;
    width: 20%;
    padding: 0 20px;
}

.col{
    height: 10px;
}



#text{
    display: table;
    margin: 0 auto;
    height: 100px;
}


.add{
    font-size: 3rem;
    font-weight: bold;
}

nav{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
}
.theme{
    height: 80px;
    width: 400px;
    margin-left: 550px;
    border-radius: 20px;
    display: flex;
}
.circle{
    line-height: 100px;
    margin-left: -350px;
}

.btn1{
  width: 50px;
  height: 50px;
  background-color: red;
}

.btn2{
  width: 50px;
  height: 50px;
  background-color: blue;
  margin-left: 25px;
}

.btn3{
  width: 50px;
  height: 50px;
  background-color: green;
  margin-left: 25px;
}
#icon{
    margin-left: 100px;
}
#icon i{
    background-color:black;
    margin-bottom: 15px;
}
#icon img{
    margin-left: 40px;
    line-height: 80px;
    height: 80px;
    width: 80px;
}
img{
    margin-top: 10px;
}


